@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Quote Generator</title>

    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="~/css/styles.css">

    <!-- Include jQuery (you can also download and reference this locally) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <body>
        <div class="quote-box">
            <div id="quote"></div>
            <p class="author"></p>
            <a id="tw-button" target="_blank"><button id="twitter"><i class="fa fa-twitter"></i>  Tweet this</button></a>
            <button id="refresh"><b>New Quote<b></button>
        </div>
    </body>
    <!-- Link to the external JavaScript file -->
    <script src="~/js/script.js"></script>

</body>
</html>

